@import "../../helpers/helpers.scss";

:local .widget {
  width: 100%;
  height: 100%;
  padding: vh(16px) vw(16px);
  box-sizing: border-box;
  font-size: vh(50px);
}

:local .widget table {
  width: 100%;
  height: 100%;
}

:local .widget tr {
  height: 50%;
  vertical-align: middle;
}

:local .widget td {
  width: 50%;
  text-align: center;
}

:local .location {
  font-size: vh(120px);
}

:local .high, :local .low {
  font-size: vh(30px);
}

:local .low {
  color: #4A4A4A;
}
