@import "../helpers/helpers.scss";

:local .widgetWeather {
  width: 100%;
  height: 100%;
  padding: vh(16px) vw(16px);
  box-sizing: border-box;
  // font-size: vh(64px);
  font-size: vh(32px);
}

:local .widgetWeather table {
  width: 100%;
  height: 100%;
}

:local .widgetWeather tr {
  height: 50%;
  vertical-align: middle;
}

:local .widgetWeather td {
  width: 50%;
  text-align: center;
}

:local .widgetWeatherLocation {
  font-size: vh(100px);
}

:local .widgetWeatherTemp {
  font-size: vh(30px);
}

:local .widgetWeatherHigh {
}

:local .widgetWeatherLow {
  color: #4A4A4A;
}
